.search_Container {
  display: flex;
  align-items: center;
  .micIcon {
    margin-left: 20px;
    font-size: 1.5rem;
    padding: 5px;
    border-radius: 20px;
    cursor: pointer;
    &:hover{
      background-color: gray;
    }
  }
  .searchBar {
    width: 25rem;
    border: 2px solid gray;
    border-radius: 2rem;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    padding: 5px;
    .searchIcon {
      color: gray;
    }
  }
  .searchInput {
    width: 18rem;
    border: 2rem;
    margin-left: 0.8rem;
    border-right: 1px solid grey;
    &:focus {
      outline: none;
    }
  }
}
