.VideoPage_Container {
  overflow-y: hidden;
  margin: 1.5rem 4.5rem;
  display: flex;
  .video_Display {
    padding: 0 1rem;
    .videoPage_Video {
      padding: 0.1rem;
      height: 70vh;
      width: 100%;
      border: 1px solid rgba(37, 37, 37, 0.2);
      border-radius: 1rem;
    }
    .videoPage_video_Details {
      width: fit-content;
      display: flex;
      flex-direction: column;
      margin-left: 10px;
      .videoPage_video_Title {
        font-size: x-large;
      }
      .videoPage_Chanel_Details {
        display: flex;
        justify-content: space-between;
        width: 48rem;
        .videoPage_Chanel {
          display: flex;
          align-items: center;
        }
        .videoPage_Chanel_Logo {
          background-color: black;
          border-radius: 50%;
          width: 2.2rem;
          height: 2.2rem;
          display: flex;
          align-items: center;
          justify-content: center;
          color: white;
        }
        .videoPage_Chanel_Name {
          margin-left: 1rem;
        }
      }
      .videoPage_video_Views {
        display: flex;
        font-size: 0.8rem;
        margin-left: 1rem;
      }
      .videopage_Comments {
        margin-left: 1rem;
      }
    }
  }
  .more_Video {
    width: calc(100vw - 4.5rem - 70vw);
    background-color: lightskyblue;
    padding: 0 1rem;
  }
}

/* Video page button style*/

.VideoPage_Buttons {
  display: flex;
  align-items: center;
  .threeDot_button {
    margin: auto 0;
  }
  .save_button {
    display: flex;
    margin: 0.5rem;
    cursor: pointer;
    .Save_text {
      margin-top: -3px;
      margin-left: 1rem;
    }
  }
}
