.container_navbar {
  border: 1px solid;
  .leftside_Navbar {
    display: flex;
    align-items: center;
  }
  .rightside_Navbar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 13rem;
    .authLogo_Box{
        cursor: pointer;
        color: #127dd2;
        border: 2px solid;
        padding: 3px;
        font-weight: bold;
    }
  }
  .logo_Container {
    display: flex;
    align-items: center;
    cursor: pointer;
    justify-content: space-between;
    margin: 0.2rem;
    padding: 0.5rem;
    border: 1px solid transparent;
  }
  .nav_Logo {
    margin-left: 30px;
  }
  .appIcon {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .appImg {
    margin-top: -13px;
  }
}
