.chanel_logo_App {
  background-color: #fff;
  padding: 0.2rem;
  border-radius: 50%;
  width: 2.2rem;
  height: 2.2rem;
  display: flex;
  border: 2px solid;
  .char_logo_App {
    margin: auto;
    font-weight: bolder;
  }
}
.app_Page_Container {
  display: flex;
  background-color: white;
  .app_Page_Items {
    width: calc(100vw - 5rem);
    height: calc(100vh - 3.65rem);
    overflow-y: auto;
  }
}

.dot {
  font-size: xxx-large;
  margin: -40px 3px 0 0 ;
}
a{
  text-decoration: none;
  color: black;
}